body {
    margin: 0px;
    font-family: calibri;
    color: #575353;
}

#home-content {
    width: 55%;
    display: inline-block;
    margin-left: 30px;
}

#home-img {
    float: right;
    margin-top: 80px;
    margin-right: 20px;
    width: 30%;
    border-radius: 20px;
}

#home {
    padding-top: 30px;
    background-image: url("images/homeBg.png");
    background-size: 100% 100%;
}

h1 {
    color: #340969;
}

#school-description {
    font-size: 20px;
}


.school-highlights {
    display: inline-block;
    padding: 30px;
    text-align: center;
}


.school-highlights-heading {
    color: #340969
}

#title {
    background-color: #340969;
    color: white;
    text-align: center;
    letter-spacing: 5px;
    font-size: 40px;
    font-family: serif;
    padding: 20px;
    margin: 0px;
}

ul {
    list-style: none;
    text-align: center;
    font-size: 20px;
    margin: 0px;
    position: sticky;
    top: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #340969;
}


ul a {
    color: white;
    margin-right: 40px;
    padding: 0px 15px 0px 15px;
    border-radius: 5px;
    transition: 0.5s ease;
    text-decoration: none;
}


ul li {
    display: inline-block;
}


ul li a:hover {
    color: #4105a2;
    background-color: #a672db;
}

#slider {
    width: 100%;
    height: 500px;
    background-size: 100% 100%;
    animation: slideshow 10s infinite;
}

@keyframes slideshow {
    0% {
        background-image: url(images/banner1.png)
    }

    60% {
        background-image: url(images/banner2.png)
    }

    100% {
        background-image: url(images/banner3.png)
    }
}

#about {
    display: flex;
}

#about img {
    width: 50%;
}

#about-content {
    margin: 60px;
    width: 40%;
}

#about-content h3 {
    font-size: 60px;
    margin: 0px;
    color:#340969;
}

#about-content h4 {
    font-size: 25px;
    margin: 0px;
    color:#4105a2;
}

#about-content p {
    font-size: 18px;
    margin: 0px;
    color: #575353;
}

#events {
    display: flex;
    justify-content: center;
}

.card {
    width: 25%;
    box-shadow: 0 4px 8px 0 lightgray;
    margin: 20px;
    border-radius: 10px;
}

.card img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.event-content {
    padding: 0px 15px;
}

.card:hover {
    box-shadow: 0px 8px 16px 0px #8467e1;
    width: 28%;
}

.event-content h2 {
    color:#400f7c
}

.event-content b {
    color:#4105a2;
}

#social-media-section {
    width: 100%;
    text-align: center;
    background-color: #8467e1;
}

#social-media-section img {
    width: 35px;
    margin: 10px;
}

#footer {
    color: white;
    display: flex;
    background-color: #4105a2;
}

.footer-section {
    width: 30%;
    margin: 20px;
}

.footer-section h3 {
    font-size: 25px;
    color: rgb(163, 106, 241);
}